.contact {
	padding-bottom: 0;
	h2 + p {
		width: 50%;
	}
	.map {
		height: 500px;
		background: url(../images/map.png) center 64%;
	}
}

form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	input, textarea {
		outline: none;
		border: 1px solid #DFDFDF;
		&:focus {
			border: 1px solid $accent-1;
			box-shadow: 0 0 5px $glow;
		}
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			font-family: $secondary-font;
			font-size: 14px;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			font-family: $secondary-font;
			font-size: 14px;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			font-family: $secondary-font;
			font-size: 14px;
		}
		&:-moz-placeholder { /* Firefox 18- */
			font-family: $secondary-font;
			font-size: 14px;
		}
	}
	.form-column {
		flex-basis: 500px;
		margin: 20px 15px;
		input {
			width: 100%;
			height: 50px;
			margin: 15px 0;
			padding: 0 20px;
		}
	}
	textarea {
		flex-grow: 1;
		max-width: 575px;
		min-height: 210px;
		margin: 35px 15px;
		padding: 20px;
	}
	.submit-btn {
		flex-basis: 100%;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 110px;
		input[type=submit] {
			width: 135px;
			height: 40px;
			background-color: $accent-1;
			border: 2px solid $accent-1;
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
			color: white;
			letter-spacing: 2px;
			transition: background-color 0.3s, color 0.3s;
			&:hover {
				background-color: transparent;
				color: $accent-1;
			}
		}
	}
}